@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f0f13;
  color: #e2e8f0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
